root = true

[*]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[*.sh]
indent_size = 4
indent_style = space

[*.{json,js,webapp}]
indent_size = 2
indent_style = space

[*.py]
indent_size = 4
indent_style = space

[debian/rules]
indent_style = tab

[*.md]
indent_size = 2
indent_style = space
